<div class="branch-main-content" id="feed-job">
    <div class="branch-search-bar">

        <%= render 'posts/branch/search_form',
                            branch: 'study',
                            search_placeholder: 'Eg. Jobs, Internships...' %>
        <%= render 'posts/branch/create_new_post', branch: 'study' %>
</div>