<div class="new">
  <%= form_for @expertise_users, :html => {:class => 'form'} do |f| %>

  <% if !current_user.company.blank? %>
  <h3>Please write what you would like to mentor on !</h3>
  <% else %>
  <h3>What are you looking for in a mentor ?</h3>
  <% end %>
  <textarea id="message" name="message" cols="49" rows="5"> </textarea>
  <%= f.submit "Submit" , class: "button" %>
  <% end %>

  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
</div>