<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head> -->

<div class="grp-parent">
  <div class="grp-heading">
    <p>
      Your Mentor is
    </p>
  </div>
  <div class="grp-main-content">

    <div class="grp-feed">
      <div class="grp-feed-child">
        <div class="grp-child">
          <div>
            <%= image_tag ("profilepic.jpg"), class: "profile-pic-img" %>
          </div>
          <div class="grp-child-content">
            <p class="grp-child-name">
              <a href=<%=@mentor.linkedin%>>
                <%= @mentor.name %></a>
            </p>
            <p>
              <%= @mentor.company %>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
