@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Timmana');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:700i');

.show_selected_mentor{

 position: relative;
 left: 45%;
 width: 300px;
 margin-top: 5%;

.card {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  border-radius: 10px;
}

.title {
  color: #7C8097;
  font-size: 1.1em;
  margin-top: -15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

.expertises {
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0 0 1px;
  font-size: 21px;
  color: #0077b5;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #0077b5;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 15px;
  border-radius: 0px 0px 10px 10px;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: #0077b5;
  font-family: 'Timmana', sans-serif;
}

.profile-pic-img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 1px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}


button:hover, a:hover {
  opacity: 0.7;
}

h2{
 color: #0077b5;
 font-family: 'Open Sans', sans-serif;
 font-size: 32px;
 margin-bottom: 15px;
}

}
