.show_mentors{
.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: start;
  position: absolute;
  left: 22%;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}

/*
.text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }
  */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    //max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: white
  }
  .title {
    color: grey;
    font-size: 18px;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .button_to {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  .profile-pic-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 7px;
  }


  button:hover, a:hover, .button_to:hover {
    opacity: 0.7;
  }
}
