.branch-main-content {
    height: calc(100vh - 50px);
    margin-left: 16%;

    .branch-search-bar{
      background-color: white;
      width: 100%;
      height:12%;
      padding: 0.75%;
      display: flex;
      box-shadow: 0 8px 20px -6px rgb(160, 145, 145);

      .branch-search-form{
        width: 60%;
        margin-right: 25%;
      }

    }
    .branch-posts-bar{
      margin-top: 1%;
      margin-left: 1.5%;
      margin-right: 20%;
    }
    #feed {
      background-color: $backgroundColor;
      display: grid;
      grid-template-columns: repeat(2, 49%);
      grid-auto-flow: row;
      //grid-auto-rows: auto;
      row-gap: 0.5%;
      column-gap: 2%;

      #feed-child{
        position: relative;
        border: 1px solid $backgroundColor;
        padding: 2%;
        background-color: white;
        box-shadow: 0 8px 20px -6px rgb(160, 145, 145);
        padding-bottom: 40px;

        .feed-child-head{
          display: flex;
        }
        .feed-child-name{
          font-weight: bold;
          margin-right: 70%;
        }
        .feed-child-title{
          font-weight: bold;
          text-align: center;
          font-size: 22px;
        }
        .feed-child-venue{
          font-weight: bold;
        }

        .venue-margin{
          margin-bottom: 10%;
        }

        p{
          overflow-wrap: break-word;
        }
        .feed-child-bottom{
          position: absolute;
          width: 96%;
          bottom: 0;
          height: 35px;

          .comment-div{
            background-color: white;
            border: 1px solid black;
            width: 100%;
            height: auto;
            margin-bottom: 10%;
          }
        }
      }
    }
    
    .search-form {
      position: relative;

      input {
        border: solid 2px rgba(0,0,0,0.2);
        border-radius: 10px;
        box-shadow: none;
        outline: 0;
      }
      input:focus {
        border: solid 2px rgba(0,0,0,0.35);
      }
      input#search {
        padding: 15px;
        width: 100%;
        height:20px; 
        margin: 10px 0; 
        padding-left: 30px;
      }
    }
    .infinite-scroll {
      display: none;
    }
  }

.single-post-list {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;  
  color: #d9480f;

  //min-height: 45px;
  //max-height: 45px;
  padding: 10px 20px 10px 0px;
  margin: 0;
  border-bottom: solid 3px rgba(0, 0 , 0, 0.05);
  border-bottom-right-radius: 10%;
  transition: border-color 0.1s;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

// .page-title {
//   margin: 30px 0;
//   text-align: center;
//   background-color: white !important;
//   font-weight: bold;
//   a {
//     color: black;
//   }
//   a:hover {
//     text-decoration: underline;
//   }
// }

.categories-list {
  margin: 10px 0;
  padding: 0;
  
}

.category-item {
  display: inline-block;
  margin: 15px 0;
  
  a {
    font-size: 14px;
    font-size: 1.4rem;
    color: rgba(0,0,0,0.7);
    border: solid 2px rgba(0,119,181,0.4);
    border-radius: 8%;
    padding: 10px;
  }
  a:hover, .selected-item {
    background: $themeColor;
    color: white;
    border: solid 2px $themeColor;
    border-radius: 0px;
  }
}

.new-post-button-parent {
  text-align: right;
  
  span {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.new-post-button {
  display: inline-block;
  background: #0077B5;
  color: white;
  padding: 8px;
  border-radius: 10px;
  font-weight: bold;
  border: solid 2px #0077B5;
  margin-top: 7px;
  &:hover, &:active, &:focus {
    background: white;
    color: #0077B5;
  }
}

.login-branch {
  margin: 10px 0;
}

.login-button-branch {
  padding: 5px 10px;
  border-radius: 10px;
  &:hover, &:active, &:visited, &:link {
    color: white;
  }
}

.fa-search {
    position:absolute; 
    bottom:14px; 
    left:10px; 
    width:20px; 
    height:10px;
  }
  
  .send-message-to-user {
    background-color: $navbarColor;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  
  .contact-user {
    text-align: center;
  }
  
  .contacted-user {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    background-color: $navbarColor;
    color: white;
  }
  
.image-uploaded{
  width: 400px;
  height: 250px;
}
.image-center{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 4%;
}
.cal-pic{
  width: 30px;
  height: 30px;
  //float: right;
}