.post-parent{
  background: $backgroundColor;
  height: auto;
  
  #single-post-content {
    background: white;
    height: auto;
    margin-left: 25%;
    margin-right: 15%;
    
    h3 { 
      text-align: center;
    }
    p {
      overflow-wrap: break-word;
      
    }
    .posted-by {
      font-size: 12px;
      font-size: 1.2rem;
      margin: 20px 0;
      color: rgba(0,0,0,0.5);
    }
    .comment-btn{
        margin-bottom: 10%;
      }
  }
}