<% if !user_signed_in? %>
<%= react_component("LandingIndex") %>

<% else %>
<%= render 'posts/modal' %>
<div class="main-content-page">
  <%= render 'pages/index/main_content' %>
  <%= render 'pages/index/right_menu' %>
</div>
<% end %>