.main-content-page{
  margin-left: 17%;
  display: flex;
  
  #main-content {
    background: white;
    min-height: 800px;
    width: 100%;
    // margin-left: 14%;  
    padding: 10px 0 0 0;
  }
  #right-menu{
    
    padding: 0;
    border: 1px solid rgb(211,211,211);
    height: 50vh;
    width: 19vw;
    background-color: white;
    margin-left: 1%;
    margin-right: 0.5%;
    margin-top: 6%;
    
    .noti-menu{
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      p:first-child{
        font-size: 20px;
        background-color: rgb(182, 204, 190);
        padding: 2%;      
      }
    }
    
  }
}


#side-menu {
  padding: 0;
  position: fixed;
  border: 1px solid rgb(211,211,211);
  height: 100vh;
  width: 16vw;
  left:0;
  top: 0%;
  
  background-color: #0077B5;
  
  .home-img-div{
    height: 15%;
    
    .home-logo-img{
      height: 60%;
      margin-left:auto;
      margin-right: auto;
      background-color: #0077B5;
    }
  }
  
  #sidemenu-pic{
    height:16%;
    background-color: white;
    
    .pic-div{
      margin-left: auto;
      margin-right: auto;
      display: block;
      //border: 3px solid black;
      width: 50%;
    }
    
    .profile-pic-img{ 
      height: 100px;
      width: 100px;
      border-radius: 50%;
      margin-top: -50px;         
    }
    
    #user-name{
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align: center;
      width: 50%;
      font-size: 1.2em;
      font-weight: bold;
      color: $themeColor;
      overflow-wrap: break-word;
    }
    
  }
  
  #links-list {
    margin-top: 20px;
    padding: 0;
    font-size: 1.5rem;
    a {
      display: block;
      padding: 5px 15px;
      margin: 2px 0;
      
    }
    li {
      min-width: 195px;
      max-width: 195px;
      
    }
    li, li a {
      color: white;
      text-decoration: none;
    }
    li:hover {
      border-radius: 50px;
      background: $navbarColor;
    }
    li:hover a, li:hover i {
      color: white;
    }
  }
}

