#main-content {
  background: white;
  min-height: 800px;
  margin-left: 20%;
  padding: 10px 0 0 0;
}

#side-menu {
  padding: 0;
  position: fixed;
  border: 1px solid rgb(211,211,211);
  height: 100vh;
  width: 16vw;
  margin-top: 0%;
  
  background-color: #0077B5;

  .home-logo-img{
    height: 8%;
    margin-left:auto;
    margin-right: auto;
    background-color: #0077B5;
  }

  #sidemenu-pic{
    height:33%;
    background-color: white;
    padding-top: 20%;
  }

  #links-list {
    margin-top: 20px;
    padding: 0;
    font-size: 1.5rem;
    a {
      display: block;
      padding: 5px 15px;
      margin: 2px 0;

    }
    li {
      min-width: 195px;
      max-width: 195px;

    }
    li, li a {
      color: white;
      text-decoration: none;
    }
    li:hover {
      border-radius: 50px;
      background: $navbarColor;
    }
    li:hover a, li:hover i {
      color: white;
    }
  }
}